body {
  color: rgb(49, 49, 49);
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

a {
  color: rgb(3, 54, 83);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 15px;
}
a:link {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
a:active {
  text-decoration: underline;
}

p {
  text-align: center;
}

h2 {
  color: rgb(49, 49, 49);  
  font-size: 30px;
}

.heder { grid-area: header; } 
.left { grid-area: left; } 
.middle { grid-area: middle; } 
.right { grid-area: right; } 
.footer { grid-area: footer; } 

.grid-container {
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'left left middle middle right right'
    'footer footer footer footer footer footer';
}

.grid-container > div {
  text-align: center;
  padding: 20px 0;
  color: rgb(49, 49, 49);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 15px;
}

/* Style the header */
.header {
  grid-area: header;
  background-color: rgb(95, 155, 155);
  padding: 5px;
  text-align: center;
  font-size: 20px;
}

.left,
.middle,
.right {
  padding: 10px;
}

/* Style the left column */
.left {
  grid-area: left;
}

/* Style the middle column */
.middle {
  grid-area: middle;
}

/* Style the right column */
.right {
  grid-area: right;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

li {
  float: center;
}
li a {
  display: block;
  padding: 20x;
  float: center;
}

/* image styles start */
img {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  width: 150px;

}

img:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}
/* image styles stop*/


  /* Container for flexboxes */
  .row {
    display: -webkit-flex;
    display: flex;
  }


  /* footer style start*/
  .footer {
    grid-area: footer;
    background-color:rgb(95, 155, 155);
    padding: 10px;
    text-align: center;
  }
  /* footer style end*/
